<!DOCTYPE html>
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(content="width=device-width, initial-scale=1.0" name="viewport")
    - if @description
      %meta(name="description" content=@description)
    - if @keywords
      %meta(name="keywords" content=@keywords)
    %title= @title
    %link(href='https://fonts.googleapis.com/css?family=Gaegu&display=swap' rel='stylesheet' type='text/css')

    %link(href="#{path_to('/css/master.css')}" media="screen" rel="stylesheet")
    %link(href="#{path_to('/css/raceweb.css')}" media="screen" rel="stylesheet")
    %link(href="#{path_to('/fonts/icon.css')}" media="screen" rel="stylesheet")
    %link(href="#{path_to('/favicon.ico')}" rel="shortcut icon" type="image/png")
    - local_stylesheet_link_tag('local')

    = haml :analytics, layout: false
    :javascript
      document.addEventListener("click", function (event) {
        if (!event.target.matches('.toggler')) return;
        event.target.nextElementSibling.classList.toggle("collapsed");
        event.target.classList.toggle("icon-plus");
        event.target.classList.toggle("icon-minus");
      });
  %body
    #container
      = haml :header, layout: false
      = yield
      :javascript
        // make all code elements copy their contents to the clipboard on click
        var codeElements = document.getElementsByTagName('code');
        for (var i = 0, codeElement; codeElement = codeElements[i]; i++) {
          codeElement.addEventListener('click', function() {
            var el = document.createElement('textarea');
            el.value = this.innerText;
            el.setAttribute('readonly', '');
            el.style = {position: 'absolute', left: '-9999px'};
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
          } , false);
        }
      = haml :footer, layout: false
