.metadata
  categories:
  %strong
    =@page.metadata(:categories)
  <br>views:
  %strong
    =@page.metadata(:views).to_i + 1
  <br>first viewed:
  %strong
    =@page.metadata('first_viewed')
  <br>last viewed:
  %strong
    =@page.metadata('last_viewed')
