#content
  %nav.breadcrumb
    - display_breadcrumbs
  %article(role="main")
    ~ @page.to_html(self)

  .sidebar
    ~ @page.table_of_contents
    = haml :page_meta, layout: false, locals: { page: @page }
