@import "mixins.sass"

html, body
  height: 100%
  font-family: 'Gaegu', cursive
  font-size: 1.1em

div#container
  display: grid
  grid-template-columns: 1fr auto
  grid-template-rows: 100px 1fr 80px
  max-width: none
  min-height: 100%

header
  grid-column: 1 / -1
  background-color: #eee
  border-bottom: 1px #aaa solid
  padding: 1em
  text-align: center

header[role=banner]
  h1
    margin-top: 0
    font-size: 1.4em

div#toc
  padding: 1em 3em

div#content
  display: grid
  grid-template-columns: 1fr
  grid-template-areas: "nav" "sidebar" "content"
  width: auto
  padding: .5em 2em 2em 2em

@media only screen and (min-width: 900px)
  div#content
    grid-template-columns: minmax(0, 1fr) auto
    grid-template-areas: "nav nav" "content sidebar"
    grid-gap: 2em

nav.breadcrumb
  grid-column: 1 / -1
  text-align: center
  margin-top: 0

article
  grid-area: content

div.sidebar
  grid-area: sidebar
  padding-bottom: 1em
  border-bottom: 1px #aaa solid
  ul
    padding-left: 0
    list-style: none

@media only screen and (min-width: 900px)
  div.sidebar
    border-bottom: none

footer
  grid-column: 1 / -1
  background-color: #eee
  border-top: 1px #aaa solid
  text-align: center
  padding-bottom: 2em

div.index-by-category,
div.index-by-most-often,
div.index-by-most-recent
  float: left
  width: 30%
  ul
    list-style: none
    padding-left: 1.5em
  .top
    padding-left: 0

ul
  margin-bottom: .5em

.collapsed
  display: none

// markdown improvements
p
  margin: 0 0 0.5em

table
  tr
    background-color: #fff
    border-top: 1px solid #c6cbd1
  tr:nth-child(2n)
    background-color: #f6f8fa
  th, td
    padding: 6px 13px
    border: 1px solid #dfe2e5

pre
  border: 1px solid #333
  border-radius: 4px
  background-color: #f6f8fa
  code
    background-color: transparent
    padding: inherit
    border: none

code
  background-color: #ddd
  padding: 0.15em
  border-radius: 4px
  border: 1px solid #aaa
