@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?qqop1n');
  src:  url('icomoon.eot?qqop1n#iefix') format('embedded-opentype'),
    url('icomoon.ttf?qqop1n') format('truetype'),
    url('icomoon.woff?qqop1n') format('woff'),
    url('icomoon.svg?qqop1n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
  content: "\e900";
}
.icon-plus:before {
  content: "\e901";
}
