server {
  listen 443 ssl;
  server_name {{ server_names }};

  location / {
    proxy_pass http://localhost:{{ rack_port }};
  }

  ssl_certificate /etc/letsencrypt/live/{{ server_names }}/fullchain.pem; # managed by Certbot
  ssl_certificate_key /etc/letsencrypt/live/{{ server_names }}/privkey.pem; # managed by Certbot
  include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
  listen 80;
    if ($host = {{ server_names }}) {
      return 301 https://$host$request_uri;
    } # managed by Certbot

  server_name {{ server_names }};
  return 404; # managed by Certbot
}
